<div>
    <h2>My Heroes</h2>
    <div>
        <label>Hero name: <br>
            <input #heroName />
        </label><br>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(heroName.value); heroName.value=''">Add Hero</button>
    </div>
    <ul class="heroes">
        <li *ngFor="let hero of heroes" >
            <a routerLink="/detail/{{hero.id}}">
                <span class="badge">id: {{ hero.id }}</span><span class="hero-name">{{ hero.name }}</span>
            </a>
            <button class="delete" title="delete hero" (click)="delete(hero)">X</button>
        </li>
    </ul>
</div>
